pygame==2.3.0
gymnasium==0.28.1
seaborn==0.12.2
numpy==1.23.1
black==23.3.0
mypy==1.2.0
isort==5.12.0
flake8==6.0.0
tqdm==4.65.0
moviepy==1.0.3
opencv-python==4.7.0.72
torch==1.12.1+cu116; sys_platform == 'linux'
torch==1.12.1; sys_platform == 'darwin'
torchvision==0.13.1+cu116; sys_platform == 'linux'
torchvision==0.13.1; sys_platform == 'darwin'
torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu116 sys_platform == 'linux'
torchaudio==0.12.1; sys_platform == 'darwin'
scipy==1.10.1
